@import "tailwindcss";

@keyframes moveCloud {
  from {
    transform: translateX(100vw); 
  }
  to {
    transform: translateX(-200px); 
  }
}

.animate-cloud {
  position: absolute;
  animation: moveCloud linear infinite;
}
