@import "tailwindcss";

@keyframes moveCloud {
  from {
    transform: translateX(100vw); /* mulai dari kanan layar */
  }
  to {
    transform: translateX(-200px); /* keluar kiri */
  }
}

.animate-cloud {
  position: absolute;
  animation: moveCloud linear infinite;
}
